@import '../abstracts/colors';

.footer {
  padding: 1rem 0;
  background: rgba(0,0,0,.8);
  color: #fff;
  a {
    color: #fff;
    font-size: 1rem;
    transition: all ease-out .2s;
    &:hover {
      text-decoration: none;
      color: $primary-yellow;
      transition: all ease-out .2s;
    }
  }
  .footer-social a {
    padding: 0.5rem;
  }
}

.footer-contacts-item {
  margin: .1rem 0;
}
