@import './../abstracts/breackpoints';
@import './../abstracts/colors';

.header {
  background: rgba(0,0,0,.8);
  .wrapper {
    color: #fff;
  }
}

.navigation-item {
  list-style: none;
  padding: 0.5rem;
}

.header-nav-list {
  height: 90px;
}

.header a {
  color: #fff;
  font-size: 1rem;
  transition: all ease-out .2s;
  &:hover {
    text-decoration: none;
    color: $primary-yellow;
    transition: all ease-out .2s;
  }
}

.nav-dropdown-menu {
  position: relative;
}

.nav-services-list {
  display: none;
  position: absolute;
  text-align: center;
  background: $light-black;
  border-radius: 5px;
  box-shadow: 0 0 15px 10px rgba(0,0,0,.2);
  left: -100%;
  padding: 0 1.5rem;
  transition: all ease-out .6s;
  width: 230px;
  top: 75px;
}

.nav-services-list li {
  padding: 1rem 0;
  border-bottom: 1px solid #fff;
  &:last-of-type {
    border-bottom: none;
  }
}
