@mixin for-xs-phone-only {
  @media (max-width: 425px) { @content; }
}
@mixin for-small-phone-only {
  @media (max-width: 576px) { @content; }
}
@mixin for-phone-only {
  @media (max-width: 768px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (max-width: 991px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (max-width: 1199px) { @content; }
}
@mixin for-desktop-up {
  @media (max-width: 1365px) { @content; }
}
@mixin for-big-desktop-up {                 // will be rarely used
  @media (max-width: 1440px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1548px) { @content; }
}
@mixin for-landscape-orientation {
  @media screen and (max-height: 500px) and (max-width: 900px) and (orientation: landscape) { @content; }
}
