@import 'abstracts/breackpoints';

body, * {
  font-family: 'Fira Sans';
  font-size: 16px;
  @include for-tablet-landscape-up {
    font-size: 14px;
  }
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1548px;
  ul {
    list-style: none;
    margin-bottom: 0;
  }
}

.page-content {
  height: calc(100vh - 90px - 90px);
}
