@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-Black.ttf');
  font-weight: 900;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-Thin.ttf');
  font-weight: 100;
}
